<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Word-Getter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style media="screen">
      .footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        }
  
      </style>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Word-Getter
        </h1>
        <h2 class="subtitle">
          文書番号からWordファイルを取得します。
        </h2>
      </div>
    </section>
      <form method="POST" action="/result">
        <div class="column is-4 is-offset-4">
          <input class="input is-primary" type="text" placeholder="e.g. A/RES/70/1" name="doc">
        </div>
        <div class="column is-offset-4">
          <input class="button is-primary" type="submit" id="SubmitButton" name="SubmitButton" value="Submit">
        </div> 
      </form>

      <div class="column is-offset-4 is-1">
        {% if button == "on" %}
        <a href="{{DocURL}}">
          <div class="button is-primary" title="DownloadButton" id="DownloadButton" >Download: {{DocNo}}</div>
        </a>
        {% else %}
        <div class="button is-primary is-1" title="DownloadButton" id="DownloadButton" disabled>Download</div>
        {% endif %}
      </div>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="column is-three-fifths is-offset-one-fifth">
              <article class="message is-danger ">
                <div class="message-header">
                  <p>エラーが起きました</p>
                  <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                  <ul>
                  {% for message in messages %}
                      <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
                </div>
              </article>
            </div>
          {% endif %}
      {% endwith %}
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>RES-getter</strong> by <a href="https://www.instagram.com/kai_01public/">Kai Tabata</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </footer>
      <script>
        <!--メッセージ非表示用-->
          for (const element of document.querySelectorAll('.message  .delete')) {
              element.addEventListener('click', e => {
                  e.target.parentNode.parentNode.classList.add('is-hidden');
              });
          }
        </script>
  </body>
</html>